<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="club.ming19.furnitureSales.mapper.UserInfoMapper">
    <select id="checkUserExist" resultType="long">
        SELECT COUNT(*) FROM logininfo l JOIN userinfo u ON u.id = l.id WHERE l.username = #{phone} OR u.phone = #{phone}
    </select>

    <insert id="saveUserInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO userinfo (id,phone,state) VALUES (#{id},#{phone},#{state})
    </insert>
</mapper>
